@media (max-width:740px){
  .header-nav-item {
    font-size: 1.2rem;
    margin-left: 8px;
  }
  .slider-text{
    bottom: 10px;
    left: 40px;right: 40px;
  }
  .slider-text h1, .slider-text h2{
    font-size: 1rem;
  }
  .slider-text button{
    padding: 4px;
    font-size: 1rem;
    margin-top: 8px;
  }
  .time-line, .tour > p {
    font-size: 1rem;
  }
  .heading-text{
    font-size: 1.6rem;
  }
  .tour{
    padding: 0 8px !important;
  }
  .time-line, .tour p{
    padding: 0 !important;
  }
}