/* header */
#header{
  height: 50px;
  background-color: transparent;
  position: fixed;
  z-index: 99;
  top: 0;left: 0;right: 0;
  background-color: rgba(204, 204, 204, 0.7);
}
.header__wraper{
  display: flex;
  justify-content: space-between;
  
}

.header__logo img{
height: 50px;
padding-left: 50px;

}
.header__navigate{
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-item{
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 25px;
  position: relative;
  
}
.header-nav-item a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: width 0.5s ease;
  height: 2px;
  background-color: red;
}

.header-nav-item a:hover::after{
  width: 100%;
  color: rgb(248, 26, 26);
  text-decoration: underline;
  
}
.header-nav-item a{
  color: #4b9fb5;
}
/* slider */
.slider-wraper{
  background: url(./imgs/15.jpg) bottom center /cover no-repeat;
  padding-top: 50%;
  position: relative;
  
}
.silder-text{
  position: absolute;
  bottom: 20px;left: 20%;right: 20%;
  text-align: center;
  justify-content: center;
  background-color: #47494994;
  border-radius: 20px;
  color:rgb(236, 239, 243);
}
.silder-text h1, .silder-text h2{
  font-size: 1.5rem;
}
.silder-text button{
  background-color: brown;
  border-radius: 20px;
  padding: 12px;
  transition: background-color .3s ease;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
 
}
.silder-text button:hover{
  background-color: #4b9fb5;
}
/* content */
.tour{
  padding: 0 3rem;
  line-height: 1.5;

}
.main-content{
  position: relative;
}
.content-heading{
  display: flex;
  justify-content: center;
}
#content-section{
  padding-top: 36px;
  background-color:rgba(250, 235, 215, 0.611);
  
}
.content-wraper{
  background-color: #fff;
  border-radius: 2rem;
}
.photo-1{
  background: url(./imgs/15.jpg) center center /cover no-repeat;
  
}
.photo-2{
  background: url(./imgs/toong.jpg) center center /cover no-repeat;
}
.photo-3{
  background: url(./imgs/tranmatong.jpg) center center /cover no-repeat;
}
.photo-4{
  background: url(./imgs/vuon\ trai\ cay\ thoi\ son.jpg) center center /cover no-repeat;
}
.photo-5{
  background: url(./imgs/trai\ cay\ thoi\ son.jpg) center center /cover no-repeat;
}
.photo-6{
  background: url(./imgs/don\ ca\ tai\ tu\ thoi\ son.jpg) center center /cover no-repeat;
}
.photo-7{
  background: url(./imgs/xxe\ ngua\ thoi\ son.jpg) center center /cover no-repeat;
}
.photo-8{
  background: url(./imgs/con\ rach\ dua\ nuoc\ thoi\ son.jpg) center center /cover no-repeat;
}
.photo-9{
  background: url(./imgs/keo\ dua\ ben\ tre.jpg) center center /cover no-repeat;
}
.photo-10{
  background: url(./imgs/tau\ di\ con\ phung.jpg) center center /cover no-repeat;
}
.photo-11{
  background: url(./imgs/tau\ sang\ con\ phung\ ben\ tre.jpg) center center /cover no-repeat;
}
.photo-12{
  background: url(./imgs/ca\ sau\ con\ phung.jpg) center center /cover no-repeat;
}
.photo-13{
  background: url(./imgs/con\ phung\ ben\ tre\ 03.jpg) center center /cover no-repeat;
}
.photo-14{
  background: url(./imgs/con\ phung\ ben\ tre\ 02.jpg) center center /cover no-repeat;
}


.content-format-img{
  padding-top: 50%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.center{
  justify-content: center;
  align-items: center;
}
.icon-contact{
  width: 50px;
}
.sub-content{
 text-align: center;
}
.section{
  padding: 40px 0px;
}


.footer-section{

}
.info-footer{
  text-align: center;
  background-color: antiquewhite;
}